body {
	width: 100%;
	background-color: rgb(41, 39, 48);
}
.App {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.chart-container {
	padding: 50px;
	max-width: 800px;
	max-height: 800px;
}
.highcharts-background {
	fill: transparent !important;
	/* stroke: white; */
}
